.image0 {
    width: 100px;
    height: 100px;
    background-image: url("image/go.gif");
    background-size: 100px 100px;
}

.image1 {
    width: 100px;
    height: 100px;
    background-image: url("/image/h5.png");
    background-size: 100px 100px;
}

.image2 {
    width: 100px;
    height: 100px;
    background-image: url("/resource/image/iPhone.jpg");
    background-size: 100px 100px;
}

.image3 {
    width: 100px;
    height: 100px;
    background-image: url("https://www.baidu.com/img/bd_logo1.png");
    background-size: 100px 100px;
}